*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  padding: 30px 20px;
  justify-content: flex-end;
  background-color: purple;
}

header > div {
  height: 70px;
  flex-basis: 140px;
  background-color: pink;
  margin: 0 10px;
}

header > :first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.main-left {
  width: 300px;
  background-color: limegreen;
}

.main-right {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-grow: 1;
  justify-content: center;
  background-color: green;
}

.main-right > div {
  flex-basis: 200px;
  height: 130px;
  background-color: yellow;
  margin: 10px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  padding: 20px;
  justify-content: center;
}

footer >div {
  max-width: 600px;
  width: 45%;
  height: 40px;
  margin: 10px;
  background-color: lightblue;
}

.